{
	"singleQuote": true,
	"trailingComma": "none",
	"useTabs": true,
	"semi": false,
	"arrowParens": "avoid",
	"jsxSingleQuote": true,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@app/(.*)$",
		"^@common/(.*)$",
		"^@components/(.*)$",
		"^@modules/(.*)$",
		"^@pages/(.*)$",
		"^@utils/(.*)$",
		"^../(.*)",
		"^./(.*)",
		"(.scss)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
